<header class="site-header">
    <div class="navbar">
        <div class="logo">
            <a href="{{ '/' | url }}"><img src="{{ '/images/logo-xuongbontam.png' | url }}" alt="Xưởng bồn tắm" /></a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="{{ '/' | url }}#hero">Trang chủ</a></li>
                <li><a href="{{ '/' | url }}#features">Tính năng</a></li>
                <li><a href="{{ '/' | url }}#gallery">Sản phẩm</a></li>
                <li><a href="{{ '/' | url }}#contact">Liên hệ</a></li>
            </ul>
        </nav>
        <div class="menu-toggle">☰</div>
    </div>
</header>